@font-face {
    font-family: logo;
    src: url(fonts\Righteous-Regular.ttf)
}

@font-face {
    font-family: heading;
    src: url(fonts\Oxygen-Regular.ttf)
}

@font-face {
    font-family: body;
    src: url(fonts\Sanchez-Regular.ttf);
}


#logo {
    font-family: logo !important;
}

label,
th,
td {
    font-family: heading !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: heading !important;
}

li {
    font-family: body !important;
}

#date,
#app-calendar {
    font-family: heading !important;
}

p {
    font-family: body  !important;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #fffaec;
}

/* For Top Navbar and the logo text */
.navbar {
    background-color: #f5efdf !important;
    border-bottom: solid 2px #f37f5230;
}

.navbar-brand,
.text-style {
    font-size: 5vh;
    font-weight: bold;
    color: #f37f52 !important;
    word-spacing: -1vh;
    line-height: 10%;
    padding-top: 1.9vh;
    padding-bottom: 2.3vh;
    text-shadow: 1px 0px yellow, 2px 0px 1px yellow, 2px 1px yellow, 1px 1px yellow, 2px 2px yellow, 3px 3px 1px #f37f52, 3px 0.5px 2px #f37f52;
}

/* floating bottom navbar */
.fixed-bottom {
    background-color: #f5efdf !important;
    border-top: solid 2px #f37f5230;
    position: fixed;
}

/* For bottom nav bar*/
.navbar-bottom {
    display: grid;

    grid-template-columns: 17% 20% 10% 20% 10% 20% 3%;

    background-color: #f5efdf !important;
    border-top: solid 2px #f37f5230;
    border-left: solid 2px #f37f5230;
    border-right: solid 2px #f37f5230;

}/*Bottom navbar icons*/

#first-icon {
    grid-column: 2;

}

#second-icon {
    grid-column: 4;

}

#third-icon {
    grid-column: 6;

}

footer>a {
    color: #f37f52;
    text-shadow: 1px 0px #f37f52, -1px 0px #f37f52, 0px 1px #f37f52, 0px -1px #f37f52;
}


